body{
    background-image: url("img/paper.jpg");
    background-size: 15%;
    color: black;
    padding: 20px;
    font-family: "Times New Roman", sans-serif;
}

@font-face {
    font-family: Lydian;
    src: url(fonts/lydian.ttf);
}
@font-face {
    font-family: Futura;
    src: url(fonts/futura.ttf);
}

.dialogue_btn{
    text-align: left;
    padding: 0.5rem;
    border-radius: 4px;
    width:20rem;
    border:none;
    display: block;
    background-color: transparent;
    font-family: "Times New Roman", serif;
}

.dialogue_btn:hover{
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: overlay;
}

.dialogue_btn:disabled{
    opacity: 0;
}

.textBox{
    z-index: 2;
    margin: 10px;
    padding: 0 20px 20px 20px;
    contain: content;
}


.randolph{
    padding: 10px;
    border-right: black 1px solid;
    max-width: 50rem;
}

.randolph_btn:hover{
    filter: saturate(50%);
}

.randolph_btn:disabled{
    filter: saturate(50%);
}


.randolph_btn{

    height: 20rem;
    width: 20rem;
    background: transparent url("img/boy.png") no-repeat center center;
    background-size: contain;
    filter: saturate(0%);

}

.radio_btn{
    z-index: 1;
    width:250px;
    height: 200px;
    background: transparent url("img/radio.png") no-repeat center center;
    background-size: cover;
    border: none;
    filter: saturate(0%);
    margin-top: 2rem;
}

.radio_btn:hover{
    filter: saturate(50%);
}

.radio_btn:disabled{
    filter: none;
}

.info_btn{
    z-index: 1;
    width:100px;
    height: 130px;
    background: transparent url("img/info.png") no-repeat center center;
    background-size: cover;
    border: none;
    filter: saturate(0%);
}
.flex-container{
    display: flex;
    justify-content: space-around;
    border-bottom: black 1px solid;
}

.info_btn:hover{
    filter: saturate(50%);
}

.info_btn:disabled{
    filter: none;
}

h1{
    text-align: center;
    font-family: Lydian, sans-serif;
    font-size: 4rem;
    padding: 0;
    margin: 20px 0 0 0;
}
h3{
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: 4rem;
    padding: 0;
    margin:0;
}

p{
    font-size: 12px;
    margin:2px;
}

h2{
    font-size: 24px;
    font-family: Futura, serif;
    margin: 10px 0 0 0;

}

img{
    margin: 10px;
    max-width: 200px;
    border-radius: 1px;
}

h4{
    font-family: 'Times New Roman',serif;
    font-variant: all-small-caps;
    font-size: 36px;
    line-height: 75%;
    margin: 0 0 10px;
}

ul{
    margin: 0;
    font-size: 12px;
}

blockquote{
    font: italic 18px "Times New Roman", serif;
    line-height: 1.5rem;
}

.cred-img{
    margin-top: 3rem;
    max-width: 60rem;

}
