body{
    background-color: #fff;
    color: #ffffff;
    padding: 20px;
    font-family: Arial, sans-serif;
}


.background{
    width: 70rem;
    position: absolute;
    z-index: -1;
}

.dialogue_btn{
    border:none;
    background-color: #ffffff;
    display: block;
    margin-bottom: 10px;
}

.dialogue_btn:hover{
    opacity: 50%;
}

.dialogue_btn:active{
    opacity: 25%;
}

.interaction{

}

.message{

}