body{
    background-color: #0d0c0c;
    color: #ffffff;
    padding: 20px;
    font-family: Arial, sans-serif;

}


.background{
    width: 70rem;
    position: absolute;
    z-index: -1;
    scale: 1;
}

.dialogue_btn{
    border:none;
    background-color: #ffffff;
    display: block;
    margin-bottom: 10px;
}

.dialogue_btn:hover{
    opacity: 50%;
}

.dialogue_btn:disabled{
    opacity: 0;
}

.textBox{
    margin: 10px;
    padding: 0.5rem;
    border-radius: 10px;
    width: 30rem;
    opacity: 0;
    background-color: dimgrey;

}

.message{

}

.randolph{
    float: left;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 60px;
    height: 17rem;
    width: 16rem;
    color: white;
    position: relative;
    filter: drop-shadow(1px 1px 10px #ffffff);

}

.randolph_btn:hover{
    opacity: 100%;
    filter: drop-shadow(1px 1px 10px #ffffff);
}

.randolph_btn:disabled{
    filter: none;
}


.randolph_btn{
    position:absolute;
    top:300px;
    left:500px;
    z-index: 1;
    height:100%;
    width:100%;
    border-radius: 5px;
    background-size: cover;
    background: transparent url("img/boy.png") no-repeat center center;
    border: none;

}